<div class="container mt-200">
  <div class="text-center">
    <%= image_tag "logo.svg", width: '280', class: 'max-w-100' %>
  </div>

  <%= form_tag sessions_path, class: "six columns offset-by-three mt-60" do %>
    <div class="input-group">
      <%= text_field_tag :username, nil, placeholder: "Username", autocomplete: "off" %>
    </div>

    <div class="input-group">
      <%= password_field_tag :password, nil, placeholder: "Password", autocomplete: "off" %>
    </div>

    <div class="text-center mt-30">
      <%= submit_tag "Login", class: "btn btn-primary btn-round" %>
    </div>
  <% end %>
</div>
