<div>
  <div class="text-center art">
    <%= image_tag "cover_art.png" %>
  </div>

  <div class="text-center row six columns offset-by-three mt-30">
    <%= form_tag sessions_path do %>
      <div>
        <%= text_field_tag :username, nil, placeholder: "Username", class: "u-full-width", autocomplete: "off" %>
      </div>

      <div>
        <%= password_field_tag :password, nil, placeholder: "Password", class: "u-full-width", autocomplete: "off" %>
      </div>

      <%= submit_tag "Submit", class: "u-full-width button-primary" %>
    <% end %>
  </div>
</div>
