<div class="container">
  <div class="text-center">
    <%= form_tag prompts_path, method: :post do %>
      <div class="input-group">
        <%= text_field_tag :content, nil, placeholder: "", autocomplete: "off", required: true %>
      </div>

      <%= submit_tag "Add", class: "btn btn-primary btn-round" %>
    <% end %>
  </div>

  <div class="mt-100">
    <% @prompts.each do |p| %>
      <div class="mt-20 bg-grey p-20 flex flex-space-between">
        <%= p.decrypted_content %>

        <%= link_to "#", data: { "open-modal": "del-#{p.id}" } do %>
          <i class="fa fa-times text-muted"></i>
        <% end %>
      </div>

      <%= render layout: "partials/modal", locals: { id: "del-#{p.id}" } do %>
        <div class="modal-body text-center">
          Are you sure you want to delete this prompt?
          <%= button_to "Delete", prompt_path(p), method: :delete, class: "btn mt-30 btn-round btn-danger" %>
        </div>
      <% end %>
    <% end %>

    <%= pager(@prompts, [:search]) %>
  </div>
</div>
