<div class="text-center">
  <%= form_tag prompts_path, method: :post, class: "mt-10" do %>
    <div>
      <%= text_field_tag :content, nil, placeholder: "", autocomplete: "off", required: true, class: "u-full-width" %>
    </div>

    <%= submit_tag "Save", class: "button button-primary mt-15" %>
  <% end %>
</div>

<div class="mt-50">
  <% @prompts.each do |p| %>
    <div class="mt-10">
      <div><%= p.decrypted_content %></div>

      <div>
        <%= link_to "Delete", "#", data: { "open-modal": "del-#{p.id}" } %>
      </div>
    </div>

    <hr>

    <%= render partial: 'delete_modal', locals: { prompt: p } %>
  <% end %>

  <%= pager(@prompts, [:search]) %>
</div>
