<div class="paginator mt-30">
  <div class="pagination-num-items">
    <% if total_items > 0 %>
      Showing <%= displayed_items_lower_bound %>-<%= displayed_items_upper_bound %> of <%= total_items %>
    <% else %>
      No items to show
    <% end %>
  </div>

  <% if total_items > 0 %>
    <ol>
      <% if current_page > 1 %>
        <li>
          <%= link_to "Prev", params.permit(keep_params).merge(page: current_page - 1) %>
        </li>
      <% else %>
        <li>
          <a href="#" class="disabled">Prev</a>
        </li>
      <% end %>

      <% displayed_page_numbers.each do |n| %>
        <li class="<%= 'active' if current_page == n %>">
          <%= link_to n, params.permit(keep_params).merge(page: n) %>
        </li>
      <% end %>

      <% if current_page < total_pages %>
        <li>
          <%= link_to "Next", params.permit(keep_params).merge(page: current_page + 1) %>
        </li>
      <% else %>
        <li>
          <a href="#" class="disabled">Next</a>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>
