<% if !@posts_exist %>
  <div class="container mt-100 text-center">
    <h4 class="mt-30">No public posts</h4>
    <p>Journal entries shared via public post will show here.</p>
  </div>
<% else %>
  <div class="container mt-100">
    <div class="text-center">
      <%= image_tag "logo.svg", width: '120', class: 'max-w-100 mb-20' %>
    </div>

    <% @posts.each do |p| %>
      <%= link_to shared_post_path(p.decrypted_sharing_token) do %>
        <div class="mt-20 bg-grey p-20">
          <div>
            <h4><%= p.decrypted_title %></h4>
            <div class="text-muted text-small bold mt-8"><%= p.created_at.strftime("%m&#183;%d&#183;%Y").html_safe %></div>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= pager(@posts) %>
  </div>
<% end %>
