<% if !@posts_exist %>
  <div class="text-center">
    <div class="art mt-30">
      <%= image_tag "cover_art.png" %>
    </div>

    <h4 class="mt-30">No public posts</h4>
    <p>Journal entries shared via public post will show here.</p>
  </div>
<% else %>
  <%= form_tag shared_posts_path, method: :get, class: "mt-30" do %>
    <%= text_field_tag :search, params[:search], placeholder: "", autocomplete: "off" %>
    <%= submit_tag "Search for tag", class: "button button-primary" %>
  <% end %>

  <div class="mt-50">
    <% @posts.each do |p| %>
      <div class="mt-10 flex-row flex-row-collapse">
        <div>
          <strong><%= link_to p.decrypted_title, shared_post_path(p.decrypted_sharing_token), class: "dark" %></strong>
          <br/>
          <%= render "tags_list", post: p %>
        </div>

        <div>
          <%= p.created_at.strftime("%m/%d/%Y") %>
        </div>
      </div>
      <hr>
    <% end %>

    <%= pager(@posts, [:search]) %>
  </div>
<% end %>
