<div class="container">
  <%= form_for @post do %>
    <div class="input-group">
      <%= text_field_tag :title, @post.decrypted_title, placeholder: "Title", autocomplete: "off", data: { autosave: !@post.id } %>
    </div>

    <div class="input-group">
      <%= text_area_tag :content, @post.decrypted_content, placeholder: "Content", autocomplete: "off", data: { autosave: !@post.id } %>
    </div>

    <div class="form-actions">
      <%= submit_tag "#{@post.id ? 'Update' : 'Create'}", class: "btn btn-primary btn-round" %>

      <% if @post.id %>
        <%= button_tag "Delete", class: "btn btn-muted btn-round", data: { "open-modal": "del-#{@post.id}" } %>
      <% else %>
        <span class="text-muted" data-autosave="status"></span>
      <% end %>
    </div>
  <% end %>
</div>

<% if @post.id %>
  <%= render layout: "partials/modal", locals: { id: "del-#{@post.id}" } do %>
    <div class="modal-body text-center">
      Are you sure you want to delete this entry?
      <%= button_to "Delete", post_path(@post), method: :delete, class: "btn mt-30 btn-round btn-danger" %>
    </div>
  <% end %>
<% end %>
