<div class="modal" id=<%= "share-#{post.id}" %>>
  <div class="modal-wrapper">
    <div class="modal-container">
      <div class="modal-body">
        How do you want to share this post?
        <br/><br/>
        <strong>Public posts</strong> are like posting on a blog. Your entry will
        become available at <%= link_to shared_posts_url, shared_posts_url, target: "_blank" %>.
        <br/><br/>
        <strong>Secret links</strong> are like hidden blog posts. They will only be accessible by people you choose to share the link with.
        They will not show on your publicly accessible page.
      </div>

      <div class="modal-footer">
        <%= link_to "Cancel", "#", class: "button", data: { "close-modal": "share-#{post.id}" } %>

        <div>
          <%= link_to "Secret link", share_post_path(post), method: :put, class: "button button-primary" %>
          <%= link_to "Public post", share_post_path(post, public: true), method: :put, class: "button button-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
