<% if !@posts_exist %>
  <div class="text-center">
    <%= link_to "New journal entry", new_post_path, class: "button" %>
  </div>
<% else %>
  <div class="flex-row">
    <%= form_tag posts_path, method: :get do %>
      <%= text_field_tag :search, params[:search], placeholder: "", autocomplete: "off" %>
      <%= submit_tag "Search", class: "button" %>
    <% end %>

    <%= link_to "New joural entry", new_post_path, class: "button" %>
  </div>

  <div class="mt-30">
    <% @posts.each do |p| %>
      <div class="mt-10 flex-row">
        <div class="">
          <strong><%= p.title %></strong>
          <br/>
          <%= p.created_at.strftime("%m/%d/%Y") %>
          <br/>
          <%= render "tags_list", post: p %>
        </div>

        <div>
          <%= link_to "Read", post_path(p) %>
          |
          <%= link_to "Edit", edit_post_path(p) %>
          |
          <%= link_to "Delete", "#", data: { "open-modal": "del-#{p.id}" } %>
        </div>

        <div class="modal" id=<%= "del-#{p.id}" %>>
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="modal-body">
                Are you sure you want to delete this entry?
              </div>

              <div class="modal-footer">
                <%= link_to "Cancel", "#", class: "button", data: { "close-modal": "del-#{p.id}" } %>
                <%= link_to "Confirm", post_path(p), method: :delete, class: "button button-danger" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= pager(@posts, [:search]) %>
  </div>
<% end %>
