<div class="text-center">
  <%= link_to "New journal entry", new_post_path, class: "button" %>

  <div class="text-left mt-30">
    <% if @posts.any? %>
      <% @posts.each do |p| %>
        <div class="mt-10 flex-row">
          <div class="">
            <strong><%= p.title %></strong>
            <br/>
            <%= p.created_at.strftime("%m/%d/%Y") %>
          </div>

          <div class="">
            <%= link_to "Read", post_path(p) %>
            |
            <%= link_to "Edit", edit_post_path(p) %>
            |
            <%= link_to "Delete", post_path(p), method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
