<div class="container">
  <div class="text-center">
    <%= button_to "New Entry", new_post_path, class: "btn btn-round btn-primary", method: :get %>
  </div>

  <% if @posts_exist %>
    <div class="mt-100">
      <% @posts.each do |p| %>
        <div class="mt-20 flex flex-space-between bg-grey p-20">
          <div>
            <h4><%= link_to p.decrypted_title, post_path(p) %></h4>
            <div class="text-muted text-small bold mt-8"><%= p.created_at.strftime("%m&#183;%d&#183;%Y").html_safe %></div>
          </div>

          <%= render partial: 'actions', locals: { p: p } %>
        </div>
      <% end %>

      <%= pager(@posts) %>
    </div>
  <% end %>
</div>
