<div class="mt-10">
  <%= link_to '&#x2190; Back'.html_safe, posts_path, class: "dark" %>
  |
  <%= link_to 'Edit', edit_post_path(@post) %>
  |
  <%= link_to "Delete", "#", data: { "open-modal": "del-#{@post.id}" } %>
  |
  <% if @post.shared? %>
    <%= link_to 'Unshare', "#", data: { "open-modal": "unshare-#{@post.id}" } %>
  <% else %>
    <%= link_to 'Share', "#", data: { "open-modal": "share-#{@post.id}" } %>
  <% end %>
</div>

<% if @post.shared? %>
  <div class="mt-10">
    <%= link_to shared_post_url(@post.decrypted_sharing_token), shared_post_path(@post.decrypted_sharing_token), target: "_blank" %> <%= render partial: 'share_status', locals: { post: @post } %>
  </div>
<% end %>

<div class="mt-30">
  <h4><%= @post.decrypted_title %></h4>

  <p class="text-whitespace"><%= @post.decrypted_content %></p>

  <div>Tags: <%= render "tags_list", post: @post %></div>
</div>

<%= render partial: 'share_modal', locals: { post: @post } %>
<%= render partial: 'unshare_modal', locals: { post: @post } %>
<%= render partial: 'delete_modal', locals: { post: @post } %>
