<% if logged_in %>
<div id="navbar">
  <div class="nav">
    <div class="container">
      <%= link_to root_path, class: 'logo' do %>
        <%= image_tag "logo.svg", width: '100' %>
      <% end %>

      <ul class="nav-items-default nav-items nav-items-right">
        <li><%= link_to "prompts", prompts_path %></li>
        <li><%= link_to "public page", shared_posts_path %></li>
        <li><%= link_to "logout", sessions_path, method: :delete %></li>
      </ul>

      <ul class="nav-items-responsive nav-items nav-items-right">
        <li id="nav-menu-open" onclick="openNav()"><a><i class="fa fa-bars"></i></a></li>
      </ul>
    </div>
  </div>

  <ul class="nav-items-expanded">
    <div class="border"></div>
    <li><%= link_to "prompts", prompts_path %></li>
    <div class="border"></div>
    <li><%= link_to "public page", shared_posts_path %></li>
    <div class="border"></div>
    <li><%= link_to "logout", sessions_path, method: :delete %></li>
    <div class="border"></div>
  </ul>
</div>

<script type="text/javascript">
  function openNav() {
    var nav = document.getElementById("navbar");
    nav.className = nav.className === "open" ? "" : "open";
  }
</script>
<% end %>
