<!DOCTYPE html>
<html>
  <head>
    <title>PrivateJournal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if logged_in %>
      <%= link_to "Leave", sessions_path, method: :delete %>
    <% end %>

    <%= yield %>
  </body>
</html>
