<!DOCTYPE html>
<html>
  <head>
    <title>PrivateJournal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/nav" %>

    <div class="container">
      <%= render "layouts/alerts" %>
      <div class="pt-100">
        <%= yield %>
        <div class="pt-100"></div>
      </div>
    </div>
  </body>
</html>
