<!DOCTYPE html>
<html>
  <head>
    <title>Journal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= 'login' if !logged_in %>">
    <%= render "layouts/nav" %>

    <div class="container">
      <%= render "layouts/alerts" %>
      <div class="pt-100">
        <%= yield %>
        <div class="pt-100"></div>
      </div>
    </div>
  </body>
</html>
