<!DOCTYPE html>
<html>
  <head>
    <title>Journal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="en">
    <%= favicon_link_tag asset_path('favicon.ico'), rel: 'icon', type: "image/x-icon" %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="public">
    <%= render "layouts/alerts" %>
    <%= yield %>

    <div class="footer">
      Powered with &hearts; from <%= link_to "inoda/journal", "https://github.com/inoda/journal", target: "_blank" %>
    </div>
  </body>
</html>
