<!DOCTYPE html>
<html>
  <head>
    <title>Journal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="public">
    <div class="container pt-100">
      <%= render "layouts/alerts" %>
      <%= yield %>
    </div>

    <div class="footer mt-30">
      <div class="container mt-15">
        Powered by
        <%= link_to "Private Journal", "https://github.com/inoda/private_journal", target: "_blank" %>
        <div class="mt-15"></div>
      </div>
    </div>
  </body>
</html>
